body {
    background: linear-gradient(black, grey);
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
} */

h1 {
    color: orange;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    padding-left: 100px;
    font-size: 60px;
    font-family: 'Akronim';
    position: relative;
}

.elementlist {
    margin: 0px 0px 30px;
    text-align: left;
    margin-top: -75px;
    position: relative;
}

.element {
    color: wheat;
    margin: 0px 30px 30px 0px;
    text-decoration: none;
    font-size: 20px;
}


.slideshow {
    position: relative;
    text-align: center;
    color: white;
}

.imgcontainer {
    background-color: green;
    display: flex;
    width: 80%;
    height: 400px;
    margin-top: 75px;
    margin-left: 10%;
    position: relative;
}

/* #imgset {
    transition: transform 250ms ease-in;
} */

#imgset img {
    position: absolute;
    /* opacity: 70%; */
    float: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: fill;
    transition: transform 700ms ease-in;
}

.arrowbuttonleft {
    position: absolute;
    height: 100.5%;
    left: 8%;
    background-color: orange;
    cursor: pointer;
    z-index: 1;
}

.arrowbuttonleft img {
    width: 12px;
}

.arrowbuttonright {
    position: absolute;
    top: 0%;
    height: 100.5%;
    right: 8%;
    background-color: orange;
    cursor: pointer;
    z-index: 1;
}

.arrowbuttonright img {
    /* color: white; */
    width: 12px;
}

.slidenav {
    /* background: pink; */
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
}

.slidespot {
    border: 0;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0px 5px;
    background: grey;

}

.slidespot.currentslide {
    background: white;
}

.text {
    position: relative;

    background-color: red;
    margin-left: 10%;
    width: 82%;
    /* height: 150%; */
    margin-top: -2.5%;
}

.headtext {
    /* background-color: red; */
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    /* position: absolute; */
    /* top: 50%; */
    /*left: 50%;
    transform: translate(-50%, -50%); */
}

.secondtext {
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: -1.5%;
    position: relative;
    /* position: absolute; */
    /* top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.buttoncontainer {
    display: flex;
    justify-content: end;
}

.closebutton {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}

.modalcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: orange;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}

.hiddenbody {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.hidden {
    display: none;
}

/*----------------------------------*/
.buttoncontainer1 {
    display: flex;
    justify-content: end;
}

.closebutton1 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: orange;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.hidden {
    display: none;
}

h3 {

    color: wheat;
    margin-top: 150px;
    font-size: 60px;
}

p {
    color: wheat;
}

#imagesection {
    text-align: center;
}


#imagesection img {
    padding: 50px 10px;
    width: 300px;
    cursor: pointer;
}

.socialmedia {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

p {
    color: wheat;
    text-align: center;
}