body {
    background: linear-gradient(black, black, grey, grey, grey, white, grey);
    /* background: black; */
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
} */

h1 {
    color: orange;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* padding-left: 100px; */
    font-size: 60px;
    font-family: 'Akronim';
    position: relative;
}

.elementlist {
    margin: 0px 0px 30px;
    text-align: left;
    margin-top: -75px;
    position: relative;
}

.element {
    color: wheat;
    margin: 0px 30px 30px 0px;
    text-decoration: none;
    font-size: 20px;
}


.slideshow {
    position: relative;
    text-align: center;
    color: white;
}

.imgcontainer {
    background-color: green;
    display: flex;
    width: 80%;
    height: 400px;
    margin-top: 75px;
    margin-left: 10%;
    position: relative;
    overflow: hidden;
}

/* #imgset {
    transition: transform 250ms ease-in;
} */

#imgset img {
    position: absolute;
    /* opacity: 70%; */
    float: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: fill;
    transition: transform 700ms ease-in;
}

.slowimg {
    transition: 3500s ease-in;
}

.arrowbuttonleft {
    position: absolute;
    height: 100.6%;
    left: 8%;
    background-color: orange;
    cursor: pointer;
    z-index: 1;
    border-radius: 0%;
    border-width: 2px;
}

.arrowbuttonleft img {
    width: 12px;
}

.arrowbuttonright {
    position: absolute;
    top: 0%;
    height: 100.6%;
    right: 8%;
    background-color: orange;
    cursor: pointer;
    z-index: 1;
    border-radius: 0%;
    border-width: 2px;
}

.arrowbuttonright img {
    /* color: white; */
    width: 12px;
}

.slidenav {
    /* background: pink; */
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
}

.slidespot {
    border: 0;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0px 5px;
    background: grey;

}

.slidespot.currentslide {
    background: white;
}

.text {
    position: relative;

    background-color: red;
    margin-left: 10%;
    width: 80%;
    /* height: 150%; */
    margin-top: -2.5%;
}

.headtext {
    /* background-color: red; */
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    /* position: absolute; */
    /* top: 50%; */
    /*left: 50%;
    transform: translate(-50%, -50%); */
}

.secondtext {
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: -1.5%;
    position: relative;
    /* position: absolute; */
    /* top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.buttoncontainer {
    display: flex;
    justify-content: end;
}

.closebutton {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}

.modalcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}

.hiddenbody {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*----------------------------------*/

.buttoncontainer1 {
    display: flex;
    justify-content: end;
}

.closebutton1 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/
.buttoncontainer2 {
    display: flex;
    justify-content: end;
}

.closebutton2 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*-----------------------------------*/


.buttoncontainer3 {
    display: flex;
    justify-content: end;
}

.closebutton3 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody3 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/

.buttoncontainer4 {
    display: flex;
    justify-content: end;
}

.closebutton4 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody4 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/

.buttoncontainer5 {
    display: flex;
    justify-content: end;
}

.closebutton5 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody5 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/

.buttoncontainer6 {
    display: flex;
    justify-content: end;
}

.closebutton6 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody6 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/

.buttoncontainer7 {
    display: flex;
    justify-content: end;
}

.closebutton7 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody7 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/

.buttoncontainer8 {
    display: flex;
    justify-content: end;
}

.closebutton8 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody8 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/

.buttoncontainer9 {
    display: flex;
    justify-content: end;
}

.closebutton9 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody9 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/

.buttoncontainer10 {
    display: flex;
    justify-content: end;
}

.closebutton10 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody10 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/

.buttoncontainer11 {
    display: flex;
    justify-content: end;
}

.closebutton11 {
    cursor: pointer;
    border: white;
    /* transform: translate(10px, -20px); */
    /* padding: 0.5rem 0.7rem; */
    background: white;
    /* border-radius: 50%; */
}


.modalcontainer11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.4rem; */
    /* width: 450px; */
    padding: 1.3rem;
    /* min-height: 250px; */
    position: relative;
    /* top: 20%; */
    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 20px; */
    transition: transform 10000ms ease;
    z-index: 2;
}


.hiddenbody11 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(5px);
    z-index: 1;
}

/*------------------------------------*/

.hidden {
    display: none;
}

.modalTitle {
    color: wheat;
    margin-top: 100px;
    font-size: 60px;
}

dl {
    color: black;
    /* text-align: left; */
    padding: 20px;
    word-wrap: normal;
    /* border-radius: 15%; */
    font-size: 30px;
    border-width: 10px;
    border-style: groove;
    border-color: transparent;
    width: 43%;
}

.secondColumn {
    margin-top: -494.5px;
    border-color: transparent;
    align-self: flex-end;
    /* position: relative; */
}

dd {
    font-size: 20px;
    color: white;
}

h3 {

    color: wheat;
    margin-top: 150px;
    font-size: 60px;
}

button {
    border-radius: 20%;
    background-color: transparent;
    border-width: 10px;
}

p {
    color: wheat;
}

#imagesection {
    text-align: center;
}


#imagesection img {
    padding: 50px 10px;
    width: 300px;
    cursor: pointer;
}

.socialmedia {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

p {

    color: wheat;
    text-align: center;
}

.morepokemon {
    color: black;
    font-size: 40px;
    margin-top: 80px;
}